# Ambiente virtual e caches
.venv/
env/
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Build / distribuição
build/
dist/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.log

# IDEs e editores
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Testes
.pytest_cache/
coverage.xml
htmlcov/

# Arquivos temporários
*.bak
*.tmp
*.temp
*.old
*~

# Poetry
poetry.lock.backup
poetry.toml

# Arquivos de configuração locais
.env
.env.*

# Diversos
*.so
*.dll

corrigir.txt

